<ul class="list-group mt-3 mb-4">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 01.04.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=secretdaily31032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 01.04.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=sweetdaily31032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=ghostpeonlink31032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=ghostsecret31032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 27.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=peonapplegift27032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 27.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=peondailyapple27032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 26.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=phoenishmini260325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 26.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailyshmalylilli250325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=debbyshmebi250325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailygift240325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailygift2240424" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailytomato23032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 21.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=phoenixfruit20032025" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 20.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=debbylula200325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 20.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailygeneral190325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 20.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=debbybalebi190325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 19.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=phoenibanini190325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 19.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=recycleday180325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=recyclelele180325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=irishholiday170325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=Saintpatricksday170325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 17.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=storysaint170325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 16.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=yummychallenge160325a" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 16.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=daily160325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 14.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=pizzle130325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 12.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=genericbroadcast110325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 11.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailyreward110325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 10.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=guessthemovie090325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 09.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=pizzaaa090325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 09.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=shadow080325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 08.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=guessthecost070325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 07.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=chefdishes060325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 06.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=matchingshadow0503" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 04.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=taptocolor040325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 03.03.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=guessthenextpet030325" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 28.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=pieceofcake270225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 27.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=countthe270225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 26.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=unscrumble260222" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 26.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailyshmaly260225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 26.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=followus250225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=100kfollowers" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=matchingstick250225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 24.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=sneakpeak240225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 24.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=matchingkey230225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 23.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=matchingmatch220525" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 20.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=todaysreward200225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 20.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=goldentrade190225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 19.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=ceouplee190225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 17.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=sami170225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 17.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=Valentines160225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 17.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=findtheway160225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 16.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=trivia160225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 14.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=differences140225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 14.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=valentines140225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 13.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=commentlove130225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 13.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=funnydate120225z" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 12.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=velteenen120225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 12.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=surveryyyy110225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 12.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=SURVEY110225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 12.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=tagafriends1002" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 11.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=rasrtsre110225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 10.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=tapto100225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 10.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=findthe100225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 10.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=sdfgsstg09020202" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 09.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=superball0902020202" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 04.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=mathriddle040225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 03.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=story_020225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 02.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=triviatime010225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 01.02.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=story010225" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=unscrumble300125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=storyandthat300125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=puzzlestory290125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=birtdhaycelebration280125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 30.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=sharingiscaring280125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 28.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=Findthedif280125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 28.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=herresgift280125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 27.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=earlybdgift270125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 26.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dailygift250125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=findthematching250125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=treasurechelle230125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 25.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=countthecookies220125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 20.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=2mfollowers190125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 19.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=3daysleftforpet180125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 19.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=adoptionweekend170125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=spotthedifference150125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=newalbum140125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=Albumlastday29302094" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=wildtrail110125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=albumfinaldays090125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=wordpuzzle080125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=clockchallenge060125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=dreambigtrail030125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=triviatime020125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=happynewyear010125" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=70kfollowers_311224" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=Samuelmovie291224a" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=pixieslastday291224" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=Pixieslastdaybroad281224" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://rewards.dicedreams.com/?handler=reward&link=santaspuzzle261224" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>Gratis Würfe 18.01.2025</span>
    <a href="https://d10x.co/dicedrems/giq6jVktu" class="btn btn-primary btn-sm">Sammeln</a>
  </li>
</ul>